/* START OF PAGE AND STANDARD CSS */

.header{
    grid-area: HS;
    background-color: orange;
    color: palegreen;
}

.nav{
    grid-area: NS;  
    background-color: coral;
}

#toggle{
    visibility: hidden;
}

label{
    visibility: hidden;
}


.copyright{
    grid-area: CS;
    background-color: mediumvioletred;
}

.cookies{
    grid-area: COS;
    background-color: olive;
    right: 0;
    bottom: 0;
    position: fixed;
    width: 34%;
}

/* INDEX PAGE */
.flex{
    display: flex;
    flex-wrap: wrap;
}

#movie{
    width: 100%;
    background-color: violet;
}

#ArticlesIndex{
    background-color: wheat;
    width: 70%;
}

.asideIndex{
    flex-shrink: 0;
    background-color: yellowgreen;
    width: 30%;
}

/* HOW SOLAR WORKS PAGE */
.gridsolar{
    width: 100%;
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
	"HS HS HS"
	"NS NS NS"
	"AS2 AS1 AS3"
	"AS2 AS1 AS3"
	"AS5 AS1 AS3"
	"AS5 AS1 AS4"
	"AS5 AS1 AS4"
	"AS5 AS1 AS4"
	"AS5 AS6 AS6"
	"ASIS1 ASIS2 ASIS3"
	"CS CS COS";
}


.artsolar1{
    grid-area: AS1;
    background-color: crimson;
}

.artsolar2{
    grid-area: AS2;
    background-color: darkmagenta;
}

.artsolar3{
    grid-area: AS3;
    background-color: darkslateblue;
}

.artsolar4{
    grid-area: AS4;
    background-color: deepskyblue;
}

.artsolar5{
    grid-area: AS5;
    background-color: goldenrod;
}

.artsolar6{
    grid-area: AS6;
    background-color: lightgrey;
}

.asidesolar1{
    grid-area: ASIS1;
    background-color: limegreen;
}

.asidesolar2{
    grid-area: ASIS2;
    background-color: mediumblue;
}

.asidesolar3{
    grid-area: ASIS3;
    background-color: mediumslateblue;
}

/*EU SOLAR PAGE*/
.eusolargrid{
	width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
	grid-template-areas:
	"EUART EUART EUART"
	"EUTABLE EUTABLE EUASI1"
	"EUTABLE EUTABLE EUASI2"
	"EUTABLE EUTABLE EUASI3"
	"EUFOOT EUFOOT EUASI3";
}

.footereusolar{
	grid-area: EUFOOT;
	background-color: darkviolet;
}
.arteusolar{
	grid-area: EUART;
	background-color: darkolivegreen;
}

#eusolartable{
	grid-area: EUTABLE;
	background-color: darkseagreen;
}

.euaside1{
	grid-area: EUASI1;
	background-color: darkturquoise;
}

.euaside2{
	grid-area: EUASI2;
	background-color: darkturquoise;
}

.euaside3{
	grid-area: EUASI3;
	background-color: darkturquoise;
}

/*CONTACT PAGE*/
.gridcontact{
	width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
	grid-template-areas:
	"CON CON CON"
	"FORM FORM ASIC";
}

.contactinfo{
	grid-area: CON;
	background-color: deepskyblue;
}

.contact{
	grid-area: FORM;
	background-color: dimgrey;
}

.contactside{
	grid-area: ASIC;
	background-color: fuchsia;
}


@media only screen and (max-width: 1180px){
    
    /*INDEX TABLET*/
    #movie{
        width: 100%;
        background-color: violet;
        order: 2;
    }
    
    #ArticlesIndex{
        background-color: wheat;
        width: 100%;
        order: 3;
    }
    
    .asideIndex{
        background-color: yellowgreen;
        width: 100%;
        order: 1;
    }
    
    /*HOW SOLAR WORKS TABLET*/
    .gridsolar{
        width: 100%;
        display: grid;
        height: 100vh;
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
        "HS HS"
        "NS NS"
        "AS1 AS2"
        "AS1 AS2"
        "AS3 AS2"
        "AS3 AS5"
        "AS3 AS5"
        "AS3 AS5"
        "AS6 AS6"
        "AS6 AS6"
        "AS6 AS6"
        "ASIS1 ASIS2"
        "CS COS"
    }

    .artsolar4{
        display: none;
    }

    .asidesolar3{
        display: none;
	}
	
	/*EU SOLAR TABLET*/
.eusolargrid{
	width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
	grid-template-areas:
	"EUART EUART"
	"EUTABLE EUTABLE"
	"EUFOOT EUFOOT"
	"EUASI2 EUASI3";
}

.euaside1{
	display: none;
}

}

@media only screen and (max-width: 480px){
   
   /*STANDARD CSS MOBILE*/
    label{
        visibility: visible;
        display: block;
        cursor: pointer;
    }

    .menu{
        text-align: center;
        display: none;
        background-color: palegreen;
    }

    .menu a{
        display: block;
        border-bottom: 1px black;
        margin: 0;
    }

    .menu li{
        float: unset;
        width: unset;
    }

    #toggle:checked + .menu{
        display: block;
        position: relative;
    }

    .nav{
        height: unset;
    }

    /* INDEX MOBILE*/
    video{
       display: none;
    }
    
    #ArticlesIndex{
        background-color: wheat;
        width: 100%;
        order: 3;
    }
    
    .asideIndex{
        background-color: yellowgreen;
        width: 100%;
        order: 1;
    }
    /* HOW SOLAR WORKS MOBILE*/
    .gridsolar{
        width: 100%;
        display: grid;
        height: 100vh;
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
        "HS NS"
        "HS NS"
        "AS5 AS5"
        "AS3 AS3"
        "AS2 AS2"
        "AS1 AS1"
        "ASIS1 ASIS1"
        "ASIS2 ASIS2"
        "ASIS3 ASIS3"
        "CS COS"
    }

    .logo{
        display: none;
    }

    .artsolar4{
        display: none;
    }

    .artsolar6{
        display: none;
	}
	
		/*EU SOLAR MOBILE*/
.eusolargrid{
	width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
	grid-template-areas:
	"EUTABLE EUTABLE"
	"EUFOOT EUFOOT"
	"EUASI1 EUASI1"
	"EUASI2 EUASI2"
	"EUASI3 EUASI3";
}

.arteusolar{
	display: none;
}

.euaside1{
	
}

}

