/* START OF PAGE AND STANDARD CSS */

body{
	font-family: Arial, Helvetica, sans-serif;
	
	
}
.header{
    grid-area: HS;
    text-align: center;
}

ul {
	text-align: center;
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #1e86ba;
  }
  
  li {
	float: left;
  }
  
  li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
  }
  
  li a:hover {
	background-color:#145a7d;
  }

.nav{
    grid-area: NS;  
    
}

#toggle{
    visibility: hidden;
}

label{
    visibility: hidden;
}

header{
	text-align: center;
}


.copyright{
    grid-area: CS;
}

.cookies{
    grid-area: COS;
	background-color: #FA0;
	opacity: 50%;
    right: 0;
    bottom: 0;
    position: fixed;
    width: 34%;
}

/* INDEX PAGE */
.flex{
    display: flex;
    flex-wrap: wrap;
}

video{
	width: 100%;
}

#ArticlesIndex{
    width: 70%;
}

.imgartindex{
	float: right;
}

.pindex{
	text-align: left;
}

.asideIndex{
    flex-shrink: 0;
    width: 30%;
}

/* HOW SOLAR WORKS PAGE */
.gridsolar{
    width: 100%;
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
	"HS HS HS"
	"NS NS NS"
	"AS2 AS1 AS3"
	"AS2 AS1 AS3"
	"AS5 AS1 AS3"
	"AS5 AS1 AS4"
	"AS5 AS1 AS4"
	"AS5 AS1 AS4"
	"AS5 AS6 AS6"
	"ASIS1 ASIS2 ASIS3"
	"CS CS COS";
}


.artsolar1{
	grid-area: AS1;
	background-color: #62b8e3;
}

.artsolar2{
	grid-area: AS2;
	background-color: #3f8ab0;
}

.artsolar3{
	grid-area: AS3;
	background-color: #1c5e80;
}

.artsolar4{
	grid-area: AS4;
	background-color: #76b5d6;
}

.artsolar5{
	grid-area: AS5;
	background-color: whitesmoke;
}

.artsolar6{
	grid-area: AS6;
	background-color: turquoise;
}

.asidesolar1{
	grid-area: ASIS1;
	display: block;
	margin-left: auto;
	margin-right: auto;
	
}

.asidesolar2{
	grid-area: ASIS2;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.asidesolar3{
	grid-area: ASIS3;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

/*EU SOLAR PAGE*/
.eusolargrid{
	width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
	grid-template-areas:
	"EUART EUART EUART"
	"EUTABLE EUTABLE EUASI1"
	"EUTABLE EUTABLE EUASI2"
	"EUTABLE EUTABLE EUASI3"
	"EUFOOT EUFOOT EUASI3";
}

.footereusolar{
	grid-area: EUFOOT;
}
.arteusolar{
	grid-area: EUART;
	background-color: #3f8ab0;
}

#eusolartable{
	grid-area: EUTABLE;
}

th {
	background-color: #1c5e80;
	color: white;
  }

tr:nth-child(even){
	background-color: #76b5d6;
}

.euaside1{
	grid-area: EUASI1;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.euaside2{
	grid-area: EUASI2;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.euaside3{
	grid-area: EUASI3;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

/*CONTACT PAGE*/
.gridcontact{
	width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
	grid-template-areas:
	"CON CON CON"
	"FORM FORM ASIC";
}

.contactinfo{
	grid-area: CON;
	background-color: deepskyblue;
}

.contact{
	grid-area: FORM;
	background-color: dimgrey;
}

.contactside{
	grid-area: ASIC;
	background-color: fuchsia;
}


@media only screen and (max-width: 1180px){
    
    /*INDEX TABLET*/
    #movie{
        width: 100%;
        background-color: violet;
        order: 2;
    }
    
    #ArticlesIndex{
        background-color: wheat;
        width: 100%;
        order: 3;
    }
    
    .asideIndex{
		background-color: yellowgreen;
		flex-shrink: 0;
        width: 100%;
        order: 1;
	}
	
	.imgartindex{
		float: left;
	}

	.pindex{
		text-align: right;
	}
    
    /*HOW SOLAR WORKS TABLET*/
    .gridsolar{
        width: 100%;
        display: grid;
        height: 100vh;
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
        "HS HS"
        "NS NS"
        "AS1 AS2"
        "AS1 AS2"
        "AS3 AS2"
        "AS3 AS5"
        "AS3 AS5"
        "AS3 AS5"
        "AS6 AS6"
        "AS6 AS6"
        "AS6 AS6"
        "ASIS1 ASIS2"
        "CS COS"
    }

    .artsolar4{
        display: none;
    }

    .asidesolar3{
        display: none;
	}
	
	/*EU SOLAR TABLET*/
.eusolargrid{
	width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
	grid-template-areas:
	"EUART EUART"
	"EUTABLE EUTABLE"
	"EUFOOT EUFOOT"
	"EUASI2 EUASI3";
}

.euaside1{
	display: none;
}

/*CONTACT TABLET*/
.gridcontact{
	width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
	grid-template-areas:
	"CON CON"
	"FORM ASIC";
}

}


@media only screen and (max-width: 480px){
   
   /*STANDARD CSS MOBILE*/

   .flexhead{
	   display: flex;
   }
    label{
        visibility: visible;
        display: block;
        cursor: pointer;
    }

    .menu{
        text-align: center;
        display: none;
        background-color: palegreen;
    }

    .menu a{
        display: block;
        border-bottom: 1px black;
        margin: 0;
    }

    .menu li{
        float: unset;
        width: unset;
    }

    #toggle:checked + .menu{
        display: block;
        position: relative;
    }

    .nav{
        height: unset;
    }

    /* INDEX MOBILE*/
    video{
       display: none;
    }
    
    #ArticlesIndex{
        background-color: wheat;
        width: 100%;
        order: 3;
	}
	
	.imgartindex{
		
		float: unset;
		width: 50%;
	}

	.pindex{
		text-align: center;
	}
    
    .asideIndex{
		background-color: yellowgreen;
		flex-shrink: 0;
        width: 100%;
        order: 1;
    }
    /* HOW SOLAR WORKS MOBILE*/
    .gridsolar{
        width: 100%;
        display: grid;
        height: 100vh;
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
        "HS NS"
        "HS NS"
        "AS5 AS5"
        "AS3 AS3"
        "AS2 AS2"
        "AS1 AS1"
        "ASIS1 ASIS1"
        "ASIS2 ASIS2"
        "ASIS3 ASIS3"
        "CS COS"
    }

    .logo{
        display: none;
    }

    .artsolar4{
        display: none;
    }

    .artsolar6{
        display: none;
	}

	.asidesolar3{
        display: initial;
	}
	
/*EU SOLAR MOBILE*/
.eusolargrid{
	width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
	grid-template-areas:
	"EUTABLE EUTABLE"
	"EUFOOT EUFOOT"
	"EUASI1 EUASI1"
	"EUASI2 EUASI2"
	"EUASI3 EUASI3";
}

.arteusolar{
	display: none;
}

.euaside1{
	display: initial;
}

/*CONTACT MOBILE*/
.gridcontact{
	width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
	grid-template-areas:
	"CON CON"
	"FORM FORM"
	"ASIC ASIC";
}

}

