@import url("https://fonts.googleapis.com/css?family=Notable");

body
/* standard bg color is red */
{
	
	font-family: Arial, Helvetica, sans-serif;

}

/* INDEX PAGE */
.index
{
	display: grid;
	
	grid-template-areas:
	"logo logo logo" 
	"header header header"
	"navi navi navi" 
	"movie movie movie"
	"article article aside"
	"copy copy cookie";	
		
}



p{
	font-family: 'Notable';
}

header{
  background-color: #BDB76B;
  grid-area: header;
}

nav{
  background-color: #CD5C5C;
  grid-area: navi;
}

#Movie{
  background-color: #FF8C00;
  grid-area: movie;
}

#Articles{
  grid-area: article;
  grid-auto-rows: minmax(100px, auto);
	display: flex;
	border: 1px #ccc solid;
	flex-direction: column;
	background-color: #7FFFD4;
	
 
}


#Aside{
  grid-area: aside;

  display: flex;
  background-color: #8A2BE2;
  
}

footer{
  grid-area: copy;
  background-color: #5F9EA0;
}

#Cookies{
  grid-area: cookie;
  background-color: #FF00FF;
}

/* HOW SOLAR WORKS PAGE */
.howsolarworks
{
	display: grid;
	
	grid-template-areas:
	"headersol headersol headersol"
	"navisol navisol navisol"
	"art2 art1 art3"
	"art2 art1 art3"
	"art5 art1 art3"
	"art5 art1 art4"
	"art5 art1 art4"
	"art5 art1 art4"
	"art5 art6 art6"
	"asidesol asidesol asidesol"
	"copysol copysol cookiesol"
}

.headersol
{
	grid-area: headersol;
	background-color: #FF00FF;
}

.navisol
{
	grid-area: navisol;
	background-color: #5F9EA0;
}